networks:
  s2_net:
    name: s2_net
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"
    ipam:
      config:
        - subnet: 10.0.11.0/24
          gateway: 10.0.11.1
services:
  nginx:
    container_name: s2_nginx
    hostname: nginx
    networks:
      s2_net:
        ipv4_address: 10.0.11.10
    restart: unless-stopped
    env_file: .env
    build: ./docker/nginx
    command: nginx -g "daemon off;"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      #####
      - ./server/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./server/etc/nginx/conf.d:/etc/nginx/conf.d
      - ./server/var/log/nginx:/var/log/nginx
      - ./server/srv/sewa:/srv/sewa
      - ./server/var/www:/var/www
  php:
    container_name: s2_php
    hostname: php
    networks:
      s2_net:
        ipv4_address: 10.0.11.11
    restart: unless-stopped
    env_file: .env
    build: ./docker/php
    volumes:
      # php.ini
      - ./server/usr/local/etc/php/php.ini:/usr/local/etc/php/php.ini
      # /var/www
      - ./server/var/www:/var/www
      # ALINA framework
      - ./server/srv/php/_backend:/srv/php/_backend
      # OWN FILES
      - ./server/root/sewa:/root/sewa
    working_dir: /var/www/zero.home
  mysql:
    container_name: s2_mysql
    hostname: mysql
    networks:
      s2_net:
        ipv4_address: 10.0.11.12
    restart: unless-stopped
    env_file: .env
    image: mysql:8.0.27
    command: mysqld --sql_mode="IGNORE_SPACE,STRICT_TRANS_TABLES" --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --lower_case_table_names=0
    ports:
      - "3306:3306"
    volumes:
      - ./database/mysql:/var/lib/mysql
  phpmyadmin:
    networks:
      s2_net:
        ipv4_address: 10.0.11.13
    restart: unless-stopped
    env_file: .env
    image: phpmyadmin/phpmyadmin
    container_name: s2_pma
    ports:
      - "8080:80"
  clickhouse:
    container_name: s2_clickhouse
    hostname: clickhouse
    networks:
      s2_net:
        ipv4_address: 10.0.11.14
    image: clickhouse/clickhouse-server:22.2
    env_file: .env
    volumes:
      - ./database/ch:/var/lib/clickhouse/
    ports:
      - "8123:8123"
    ###profiles: [ 'dodopay' ]
  postgresql:
    hostname: postgresql
    networks:
      s2_net:
        ipv4_address: 10.0.11.15
    image: postgres:15.5
    env_file: .env
    restart: unless-stopped
    volumes:
      - ./database/postgresql:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    container_name: s2_postgresql
  python:
    tty: true
    container_name: s2_py
    hostname: python
    networks:
      s2_net:
        ipv4_address: 10.0.11.16
    restart: unless-stopped
    env_file: .env
    build: ./docker/python
    ports:
      - "44444:44444"
    volumes:
      # project
      - ./server/srv/python/app1:/srv/python/app1
    ###command: tail -F anything

  jaeger:
    image: 'jaegertracing/all-in-one'
    ports:
      - '16686:16686'
      - '4317:4317'
      - '4318:4318'
      - '9411:9411'
    networks:
      s2_net:
        ipv4_address: 10.0.11.17

#  mongo:
#    hostname: mongo
#    networks:
#      s2_net:
#        ipv4_address: 10.0.11.17
#    restart: unless-stopped
#    env_file: .env
#    image: mongo:5.0
#    container_name: s2_mongo
#    environment:
#      - MONGO_INITDB_ROOT_USERNAME=root
#      - MONGO_INITDB_ROOT_PASSWORD=password
#    ports:
#      - "27017:27017"
#    volumes:
#      - ./database/mongodb/db:/data/db
#      - ./database/mongodb/dev.archive:/Databases/dev.archive
#      - ./database/mongodb/production:/Databases/production
#  mongo-express:
#    hostname: mongo-express
#    networks:
#      s2_net:
#        ipv4_address: 10.0.11.18
#    restart: unless-stopped
#    env_file: .env
#    image: mongo-express
#    container_name: s2_mexpress
#    environment:
#      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
#      - ME_CONFIG_MONGODB_ADMINPASSWORD=password
#      - ME_CONFIG_MONGODB_URL=mongodb://root:password@mongo:27017/?authSource=admin
#      - ME_CONFIG_BASICAUTH_USERNAME=mexpress
#      - ME_CONFIG_BASICAUTH_PASSWORD=mexpress
#    ports:
#      - "8081:8081"
